<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@db.ig.he-arc.ch:1521:ens</property>
        <property name="hibernate.connection.username">maria_ramirez</property>
        <property name="hibernate.connection.password">MARIA_RAMIREZ</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="ch.hearc.heg.scl.business.Pays"/>
        <mapping class="ch.hearc.heg.scl.business.Meteo"/>
        <mapping class="ch.hearc.heg.scl.business.StationMeteo"/>
    </session-factory>
</hibernate-configuration>
